<h1>About Us</h1>
<p>Time Auction believes in the value of volunteering to make us better citizens.  We aim to be an encouraging first step for a student into a lifetime of community service.</p>
<p>Time Auction started in 2007 as a series of live auctions.  It has raised 7,000 hours to date on $10,000 in product donations.  Now, TimeAuction.org takes the initiative online.</p>
