<div class="splashImage">
    <div class="splashBoxContent">
      <h1>Time is Money</h1>
      <p>Bid on items and experiences with charity pledges.</p>
      <%= link_to "Try TimeAuction", new_user_path, :class => "lpcenter btn btn-primary btn-large btn-danger" %>
    </div>
    <div class="splashBox">
    </div>
</div>
