<div class="splashContainer">
    <h2>Official Time Auction Rules</h2>

    <hr/>
      
    <div class="wrapper">
      <h3><span id="count">1.</span> Do as you promised</h3><p>If you said you would do 20 hours, please do them!</p> 
    </div>
    <div class="wrapper">
      <h3><span id="count">2.</span> Volunteer at a registered charity</h3><p>We want to make sure your valuable time is spent for legitimate causes - not playing with your neighbour's cat!</p>
    </div>
    <div class="wrapper">
      <h3><span id="count">3.</span> Teaming up is allowed</h3><p>Two people max though.  Just remember to also share the prize with your friend!</p>
    </div>
  </div>