<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Time Auction, <%= @user.name %>!!</h1>
    <p>
      Start bidding on stuff!
    </p>
    <p>
      To browse current auctions: <%= @url %>.
    </p>
    <p>Happy volunteering!</p>
  </body>
</html>
