<div id='bid_success_popup' class='hide'>
  <h1>Thank you<%=", " + current_user.name if current_user %>!</h1>
  <br>
  <p>We love you.</p>
  <br>
  <p class='errors'></p>
  <button id="success_popup_close" class='btn'>Close</button>
</div>