<div class="auction-category"><%= link_to "> Back to auction", auction_path(@auction) %></div>
<div class="auction-title"><h1>Edit auction</h1></div>
<%= render 'form' %>
<%= link_to "Delete auction", auction_path(@auction), :method => 'delete', :class => 'btn btn-danger btn-large' %>