<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
      h1 { color: blue; }
    </style>
  </head>
  <body>
    <p>
      A bid was placed for <%= @bid.time %> hours for <%= link_to @auction.title, auction_path(@auction) %>.
    </p>
    <p>
      The auction will end on <%= @auction.end_date.strftime('%B %d, %Y') %>.
    </p>
    <p>Time Auction Team</p>
  </body>
</html>
