.aboutImage {
  background: url('../assets/about_page.jpg') no-repeat; 
  padding-top: 60px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 720px;
  opacity: 0.8;
}

.aboutBox {
  width: 960px;
  height: 365px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: #000;
  position: absolute;
  top: 25%;
  left: 23%;
}

.aboutBoxContent { 
  width: 900px;
  padding: 36px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 23%;
  z-index: 10;
  text-shadow: 2px 2px 2px #000;
  & h1 {
    font-family: 'Open Sans';
    font-weight: 300;
    margin-bottom: 35px;
    margin-top: 0px;
    font-size: 6em;
   }
  & p {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed';
    text-shadow: 2px 2px 2px #000;
  }
  & a {
    font-family: 'aller_lightregular';
  }
}
