.tab-pane {
  display: none;
}

.auction-photo {
  background:#FFF;
  margin: 10px;
}

.shadow
{
  position: relative;
}
.shadow:before, .shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.auction-title {
  margin: 10px 10px 10px 10px;
  & h1 {
    font-family: 'titilliumtext25l800_wt';
  }
}

.edit-as-admin {
  margin-left: 10px;
}

.auction-category {
  margin: 5px 10px 0px 10px;
  font-size: 1.5em;
}

.highest-bid {
  width: 90%;
  margin: 10px 20px 0px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ececec;
  padding: 10px;
  text-align: center;
  position: relative;
  &:hover {
    background-color: #e0e0e0;
  }
}

.you-highest {
  width: 90%;
  /*height: 55px;*/
  margin: 20px 20px 0px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #B4E0E8;
  padding: 10px;
  text-align: center;
}

.highest-bid-title {
  line-height: 30px;
  position: absolute;
  top: 15px;
  left: -1px;
}

.bid-time {
  margin-top: 65px;
  font-size: 5em;
  letter-spacing: -1px;
  & #hours {
    font-family: 'titilliumtext25l800_wt';
  }
  & #hours:nth-child(2) {
    font-family: 'titilliumtext25l250_wt';
    margin-top: 25px;
    font-size: 0.5em;
    letter-spacing: -2px;
  }
}

.highest-bidder {
  margin-top: 15px;
}

.main-bid-button {
  text-align: center;
  padding: 20px;
  & form.button_to {
    height: 58px;
    margin-bottom: 0px;
  }
  & input[type=submit], button {
    display:inline-block;
    width: 294px;
    color:#ffffff;
    font-family:'Open Sans';
    font-size:2em;
    font-weight:300;
    text-decoration:none;
    border:1px solid #d83526;
    padding:18px 70px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
    background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
    background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
    background-color:#fa665a;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 10px #98231a;
    -webkit-box-shadow:inset 1px 1px 18px -50px #fab3ad;
    -moz-box-shadow:inset 1px 1px 18px -50px #fab3ad;
    box-shadow:inset 1px 1px 18px -50px #fab3ad;
    &:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
      background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
      background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
      background-color:#d34639;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }
}

.auction-details {
  width: 90%;
  margin: 0px 20px 0px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ececec;
  padding: 10px;
  text-align: center;
  position: relative;
  font-family: 'Lato';
  &:hover {
    background-color: #e0e0e0;
  }
  & .detail-box h3 {
    margin: 0;
    font-weight: 400;
  }
  & .detail-box p {
    font-family: 'aller_lightregular';
    font-size: 1.2em;
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
}

/* Overlay */

#overlay, #login {
    display: none;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.7;
    filter: alpha(Opacity=70);
    z-index: 999;
}


#bid_success_popup, #new_bid_form, #spinner {
  position: absolute;
  z-index: 1000;
  overflow: none;
  background: white;
  padding: 25px;
  border-radius: 15px;
}

#spinner {
  top:350px;
}

#new_bid_form {
  width: 800px;
  min-height: 425px;
}

#bid_success_popup .errors {
  color: red;
}

.pop-up {
  position: relative;
  display: inline;
}

.pop-up-left {
  width: 60%;
  float: left;
  padding-right: 15px;
  margin-bottom: 30px;
}

.pop-up-right {
  width: 35%;
  float: left;
}

.pop-up-bottom {
  clear: both;
  text-align: center;
  border-top: 1px dotted black;
  margin-top: 15px;
  padding-top: 30px;
}

/* Ribbon stuff */

.ribbon-wrapper {
  position: relative;
}
  .ribbon-front {
  font-size: 16px;
  background-color: #666666;
  height: 30px;
  color: white;
  width: 330px;
  position: relative;
  left:-20px;
  z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -20px;
  border-color: transparent #A9A8A8 transparent transparent;
}

  .ribbon-edge-topleft {
  top: -10px;
  border-width: 10px 20px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 20px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 292px;
  border-color: transparent transparent transparent #A9A8A8;
}

  .ribbon-edge-topright {
  top: -10px;
  border-width: 10px 0 0 20px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 20px;
}

  .ribbon-back-left {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 0px;
  height: 40px;
    z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 0px;
  height: 40px;
  z-index: 0;
}

ul.nav-tabs {
  width: 600px !important;
}

#auction .nav-tabs li {
  font-family: 'titilliumtext25l600_wt';
  font-size: 20px;
  line-height: 60px;
  padding: 0px !important;
  margin: 0px !important;
  height: 52px;
  border-bottom-color: none !important;
  & a {
    display: inline;
  }
  & a:hover {
   border-bottom: 0px !important;
   padding: 8px 12px;
   background-color: transparent !important;
  }
  &.active a {
    color: #383838;
    background-color: #f2f2f2 !important; 
    &:hover {
      color: #383838;
      border-bottom: 1px solid #f2f2f2 !important;
    }
  }
}

.tab-pane {
  width: 580px;
  padding: 12px;
  padding-left: 20px;
  & h3 {
    font-size: 2.2em;
    font-family: 'Open Sans';
    font-weight: 300;
  }
}

.span12 hr {
  width: 1040px;
  margin-top: 5px;
  margin-bottom: 0px;
  border-top: 1px #ddd solid;
}

li#comment_errors {
  list-style: none;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #000;
}

table.bids {
  width: 100%;
  background-color: #eaeaea;
  th {
    font-family: 'aller_lightregular';
    font-size: 1.2em;
    padding-bottom: 10px;
    background-color: #f4f4f4;
  }
  tr:first-child:hover {
    background-color: #f4f4f4;
  }
  tr:hover {
    background-color: #aeaeae;
  }
  tr:nth-child(2n) {
    background-color: #dedede;
    &:hover {
      background-color: #aeaeae;
    }
  }
  tr {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1em;
    text-align: left;
    td {
      padding: 15px 5px;
    }
    td:first-child {
      width: 32%;
    }
    td:nth-child(2) {
      width: 5%;
    }
    td:nth-child(3) {
      width: 38%;
    }
    td:nth-child(4) {
      width: 20%;
      font-family: 'Open Sans Condensed';
      letter-spacing: 1px;
    }
  }
}

.facebook_links {
  width: 296px;
  margin: 10px 0px 0px 20px;
}

