/*
cool blue:
#383838
light blue:
#B4E0E8
glow blue:
#7C9A9F
red:
#F20505
pale:
#F2F2F2

*/


/*
aller: aller_lightregular;
titilliumboldest: titilliumtext25l800_wt;
tittilliubolder: titilliumtext25l600_wt
tittillium: titilliumtext25l250_wt;
*/

@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Open Sans'
}

h1 {
  font-family: 'aller_lightregular';
  margin-top: 0px;
}

.container {
  width: 1040px;
  padding-top: 100px;
  padding-left: 0px;
  clear: both;
  min-height: 500px;
}

.hide {
  display: none;
}

.span4 {
  margin-left: 60px;
}

a {
  color: #F20505;
  &:hover{
    color: #B20404;
    text-decoration: none;
  }
}

::selection {
  background-color: #B4E0E8;
}
