/*
aller: aller_lightregular;
titilliumboldest: titilliumtext25l800_wt;
tittilliubolder: titilliumtext25l600_wt
tittillium: titilliumtext25l250_wt;
*/

@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'aller_lightregular';
}

h1 {
  font-family: 'aller_lightregular';
  margin-top: 0px;
}

.container {
  width: 1040px;
  clear: both;
}
