/*
cool blue:
#383838
light blue:
#B4E0E8
glow blue:
#7C9A9F
red:
#F20505
pale:
#F2F2F2

*/


/*
aller: aller_lightregular;
titilliumboldest: titilliumtext25l800_wt;
tittilliubolder: titilliumtext25l600_wt
tittillium: titilliumtext25l250_wt;
*/

@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Open Sans'
}

h1 {
  font-family: 'aller_lightregular';
  margin-top: 0px;
}

.container {
  width: 1040px;
  padding-top: 100px;
  padding-left: 0px;
  clear: both;
  min-height: 500px;
}

.hide {
  display: none;
}

.span4 {
  margin-left: 60px;
}

a {
  color: #F20505;
  &:hover{
    color: #B20404;
    text-decoration: none;
  }
}

::selection {
  background-color: #B4E0E8;
}

.creation_container {
  margin: 0px auto;
  margin-top: 75px;
  padding: 40px;
  width: 540px;
  border: 2px solid #555;
  border-radius: 15px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.50);
  -moz-box-shadow:    0px 4px 10px rgba(50, 50, 50, 0.50);
  box-shadow:         0px 4px 10px rgba(50, 50, 50, 0.50);
  & h1 {
    color: #444;
    font-family: 'Lato';
    text-align: center;
    margin-bottom: 20px;
  }  
}

.upload input{
  font-size: 1em;
  top: 0;
  font-family: 'Lato';
  position: relative;
  padding: 0px;
  margin: 5px 0 10px;
}

.creation_form {
  margin: 0px auto;
  width: 540px;
  label {
    margin-top: 5px;
  }
  /*text-align: center;*/
  #fbconnect {
    padding-left: 10px;
    margin: 0px;
  }
  form{
  display: block;
  margin-bottom: 2px;
    input[type=text], input[type=email], input[type=password], textarea {
      /*height: 45px;*/
      font-family: 'Lato';
      font-size: 1.2em;
      font-weight: 400;
      max-height: 260px;
      width: 520px;
      margin-bottom: 8px;
      padding-left: 12px;
      -webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.40);
      -moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.40);
      box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.40);
      &.hasDatepicker {
        width: 340px;
      }
    }
    input[type=submit]{
      margin: auto !important;
      width: 360px !important; 
    }
  }
}

.creation_form_button {
  display:inline-block;
  color:#ffffff;
  font-family:'Open Sans';
  font-size:2em;
  font-weight:300;
  text-decoration:none;
  border:1px solid #d83526;
  padding:18px 76px;
  text-decoration:none;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
  background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
  background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
  background-color:#fa665a;
  color:#ffffff;
  display:inline-block;
  text-shadow:1px 1px 10px #98231a;
  -webkit-box-shadow:inset 1px 1px 18px -50px #fab3ad;
  -moz-box-shadow:inset 1px 1px 18px -50px #fab3ad;
  box-shadow:inset 1px 1px 18px -50px #fab3ad;
}.creation_form_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
  background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
  background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
  background-color:#d34639;
}.creation_form_button:active {
  position:relative;
  top:1px;
}


