/*
cool blue:
#383838
light blue:
#B4E0E8
glow blue:
#7C9A9F;
red:
#F20505
pale:
#F2F2F2

*/

/*
aller: aller_lightregular;
titilliumboldest: titilliumtext25l800_wt;
tittilliubolder: titilliumtext25l600_wt
tittillium: titilliumtext25l250_wt;
*/

a {
  color: #f2f2f2;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  background: #7C9A9F;
}

#logo {
  float: left;
  margin-top: 5px;
  margin-right: 0px;
  font-size: 2.6em;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration:none;
  }
}

#logo_text a {
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #F2F2F2;
  font-family: 'Oleo Script';
  font-size: 3.4em;
  letter-spacing: -3px;
  text-shadow: 2px 2px 2px #383838;
}

nav ul li a {
  font-family: 'titilliumtext25l600_wt';
  font-size: 20px;
  color: #F2F2F2;
}

.navbar .nav > li > a {
  padding: 20px 15px 20px;
}

a.f2 {
  color: #f2f2f2;
}
