/*
cool blue:
#383838
light blue:
#B4E0E8
glow blue:
#7C9A9F;
red:
#F20505
pale:
#F2F2F2

*/

/*
aller: aller_lightregular;
titilliumboldest: titilliumtext25l800_wt;
tittilliubolder: titilliumtext25l600_wt
tittillium: titilliumtext25l250_wt;
*/

ul.nav {
  margin: 0px auto;
  width: 1040px;
  padding: 0px;
}

nav {
  float: right;
  margin-bottom: 30px;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #000;
  opacity: 0.4;
  background-color: #000;
/*
  background: #b4e0e8;
  background: -moz-linear-gradient(top, #b4e0e8 0%, #8bacb2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e0e8), color-stop(100%,#8bacb2)); 
  background: -webkit-linear-gradient(top, #b4e0e8 0%,#8bacb2 100%);
  background: -o-linear-gradient(top, #b4e0e8 0%,#8bacb2 100%); 
    background: -ms-linear-gradient(top, #b4e0e8 0%,#8bacb2 100%); 
  background: linear-gradient(to bottom, #b4e0e8 0%,#8bacb2 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e0e8', endColorstr='#8bacb2',GradientType=0 ); */
}

nav a {
  color: #F3F3F3;
  text-decoration: none;
}

nav a:hover {
  height: 100%;
  color: #FFF;
  background: #b4dfe5; /* Old browsers */
  background: -moz-linear-gradient(top, #b4dfe5 0%, #82a1a5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4dfe5), color-stop(100%,#82a1a5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4dfe5 0%,#82a1a5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4dfe5 0%,#82a1a5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b4dfe5 0%,#82a1a5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #b4dfe5 0%,#82a1a5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4dfe5', endColorstr='#82a1a5',GradientType=0 ); /* IE6-9 */
}

.nav li {
  font-family: 'titilliumtext25l600_wt';
  font-size: 1.4em;
  display: inline;
  height: 60px;
  padding: 0px;
  color: #F1F1F1;
}

.nav li a {
  font-family: 'titilliumtext25l600_wt';
  font-size: 20px;
  padding: 15px; 
  line-height: 60px;
  display: inline;
  &#navName {
    padding-left: 0px;
    padding-right: 0px;
    &:hover {
      text-decoration: none;
    }
  }
}

#navWelcome {
  padding: 15px;
}

a#logo {
  float: left;
  /*padding-left: 30px;*/ 
  padding-top: 20px;
  color: #fff;
  font-family: 'Oleo Script';
  font-size: 3.6em;
  letter-spacing: -3px;
  text-shadow: 2px 2px 2px #383838;
  &:hover{
    text-decoration: none;
    background: none;
  }
}

#adminNote {
  color: #F20505;
}
