.splashImage {
  background: url('../assets/front-page.jpg') no-repeat; 
  padding-top: 60px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.splashBox {
  width: 500px;
  height: 240px;
  border-radius: 10px;
  opacity: 0.6;
  background-color: #000;
  position: absolute;
  top: 25%;
  left: 23%;
}

.splashBoxContent { 
  padding: 28px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 23%;
  z-index: 10;
  & h1 {
    font-family: 'Lato';
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 3.8em;
   }
  & p {
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: 'PT Sans Narrow';
  }
  & a {
    font-family: 'aller_lightregular';
  }
  & .btn-danger {
    width: 200px;
    padding: 18px;
    font-size: 1.6em;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 10px 15px rgba(50, 50, 50, 0.60);
    -moz-box-shadow:    0px 10px 15px rgba(50, 50, 50, 0.60);
    box-shadow:         0px 10px 15px rgba(50, 50, 50, 0.60);
    margin-bottom: 5px;
  }
}

a#learn-more {
  margin-top: 20px;
  color: white;
  &:hover {
    color: #B4E0E8;
  }
}

.splashContainer {
  width: 1040px;
  margin: auto;
  img {
    border-radius: 10px;
  }
  h2 {
    padding: 30px;
    text-align: center;
    color: #383838;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 3em;
    letter-spacing: 1px;
  }
  #vp {
    text-align: center;
    margin: auto;
    clear: both;
    margin-bottom: 50px;
    h2:first-child {
      padding: 0px;
      margin-bottom: 50px;
    }
  }
  & .btn-danger {
    margin: auto;
    text-align: center;
    padding: 18px;
    font-size: 1.6em;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 10px 15px rgba(50, 50, 50, 0.60);
    -moz-box-shadow:    0px 10px 15px rgba(50, 50, 50, 0.60);
    box-shadow:         0px 10px 15px rgba(50, 50, 50, 0.60);
  }
}

hr {
  border-top: 1px solid #aeaeae;
  margin: 30px 0px;
}

.wrapper {
  width: 285px;
  height: 285px;
  float: left;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 10px;
  background-color: #ececec;
  padding: 10px 22px 22px 22px;
  margin-right: 20px;
  margin-bottom: 70px;
  &:nth-child(5) {
    margin-right: 0px;
  }
  & h3{
    font-family: 'aller_lightregular';
    font-size: 1.7em;
    text-align: center;
  }
  & #count{
    color: #F20505;
  }
}

.finalVP {
  margin: 70px 0px;
  min-height: 280px;
}

.statisticsBox {
  clear: both;
  float: left;
  width: 300px;
  display: inline-block;
  background-color: #F20505;
  color: #fff;
  padding: 50px;
  text-align: center;
  & #hoursCount{
    font-family: 'titilliumtext25l250_wt';
    font-size: 4.5em;
    line-height: 60px;
  }
  & #hours{
    font-family: 'titilliumtext25l800_wt';
    font-size: 1em;
    letter-spacing: -2px;
  }
  & #hours:nth-child(2){
    font-family: 'titilliumtext25l800_wt';
    font-size: 1em;
    letter-spacing: -3px;
  }
}

.credentials {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 50px;
  float: left;
  display: inline-block;
  width: 600px;
  color: #383838;
  font-family: 'Lato';
  & h3{
    font-family: 'Lato' !important;
    font-weight: 400 !important;
    font-size: 2.2em !important;
    margin: -3px 0px 10px 0px;
    text-shadow: 1px 1px 1px #aeaeae;
    &:nth-child(2) {
      margin-bottom: 0px;
    }
    font-family: 'Open Sans';
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
    & strong {
      letter-spacing: 0px;
      font-weight: 700;
    }
  }
  & blockquote {
    text-align: right;
    font-style: italic;
    font-size: 1.6em;
    margin: 0px;
    padding-left: 10px;
    height: 30px;
    & img#quote {
      padding-bottom: 22px;
    }
  }
  & p {
    text-align: right;
    font-size: 0.9em;
    font-color: #ccc;
    margin-bottom: 0;
  }
}
