.splashImage {
  background: url('../assets/front-page.jpg') no-repeat; 
  padding-top: 60px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 640px;
}

.splashBox {
  width: 535px;
  height: 225px;
  border-radius: 10px;
  opacity: 0.6;
  background-color: #000;
  position: absolute;
  top: 25%;
  left: 23%;
}

.splashBoxContent { 
  padding: 28px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 23%;
  z-index: 10;
  & h1{
    font-family: 'Helvetica Neue';
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 3em;
   }
  & p {
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-family: 'PT Sans Narrow';
  }
  & a {
    font-family: 'aller_lightregular';
  }
}

.splashContainer {
  width: 1040px;
  margin: auto;
  h2 {
  padding: 30px;
  text-align: center;
  color: #383838;
  font-family: 'Open Sans Condensed';
  font-size: 3em;
  }
}

hr {
  border-top: 1px solid #000;
}

.wrapper {
  width: 285px;
  height: 285px;
  float: left;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ececec;
  padding: 22px;
  margin-right: 20px;
  margin-bottom: 40px;
  &:last-child {
    margin-right: 0px;
  }
}
