// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#user-profile-name{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-bid-hours{
  /*width: 20%;
  float:left;*/
  margin: 0;
}

#activities{
  text-align: left;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  bottom: 0;
  font-size: 24.5px;
  margin-top: 48px;
}

.todo-header{
  border-bottom: 1px solid gray;
  width: 70%;
  display:inline-block;
}

.photo-upload{
  margin-top: 20px;
  display:inline-block;
}

.hours-left{
  margin-top: 5px;
}


.userStatisticsBox {
  margin-top: 20px;
  float: right;
  width: 180px;
  height: 150px;
  display: inline-block;
  background-color: #B4E0E8;
  color: #383838;
  padding: 20px;
  text-align: center;
  & #hoursCount{
    font-family: 'titilliumtext25l250_wt';
    font-size: 4.5em;
    line-height: 60px;
  }
  & #hours{
    font-family: 'titilliumtext25l800_wt';
    font-size: 1em;
    letter-spacing: -2px;
  }
  & #hours:nth-child(2){
    font-family: 'titilliumtext25l800_wt';
    font-size: 1em;
    letter-spacing: -3px;
  }
}

#fbconnect a {
  background-image: url('/assets/fb-connect.png');
  width: 280px;
  height: 46px;
  display: block;
  &:hover {
    background-image: url('/assets/fb-connect-glow.png');
  }
}
